{% extends "base.html" %}
{%load static%}


{%block content%}
   <form method="post" dir="ltr" style="text-align: center;">
      <br>
      <h2>Log_in:</h2>
      {{form.as_p}}
      <input type="submit" value="Send">
      {% csrf_token %} 
   </form>
   {%if form.errors%}
   invalid!!!!!!!!!!!!!!!
       {% for feild in form %}
           {% if feild.errors %}
               {%for error in feild.errors%}
               {{feild.label}} : {{error}}
               {% endfor %}
           {% endif %}
       {% endfor %}
   {%endif%}
   <br>
{%endblock%}