{% extends "base.html" %}
{%load static%}


{%block content%}
   <section class="section bg-grey">
      <div class="section-center services-center" >
            {%for posts in post%}
            <article class="service">
               <h4><a href="{{posts.get_url_m}}">{{posts.name}}</a></h4>
               <div class="underline"></div>
               <p>
                  {{posts.text|truncatewords:"4"}}
               </p>
            </article>
         {%endfor%}
      </div>
   </section>
{%endblock%}